body {
    margin: 0px;
    padding: 0px;
    background: rgb(232, 247, 248);
}

#create {
    display: none;
}
#enter {
    display: none;
}
#start {
    display: none;
}
#enforceStop {
    display: none;
    background: rgb(123, 84, 167);
    border-bottom: solid 4px rgb(45, 3, 92);
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #d88ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #ef7295;
    border-radius: 3px;
}
.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}
.btn-flat-border {
    /*position: absolute;*/
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: 300px;
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    color: #67c5ff;
    background: #fff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
}
.btn-flat-border:hover {
    background: #67c5ff;
    color: white;
    animation-duration: 0ms;
}
.message {
    text-align: center;
    height: 40px;
}
#message {
    margin-bottom: 0px;
}
#time {
    margin-top: 0px;
}
.info {
    text-align: center;
    margin: 0px auto;
    width: 700px;
    background: rgb(250, 252, 123);
}
#volume {
    text-align: center;
    width: 80%;
}
.challenger {
    text-align: center;
}
table {
    margin-top: 1em;
}